# out
bin/
build/
builddir/
make.bat
dbox.bat

# item
*.obj
*.err
old/**/*.exe

# user config
local.conf

# Other
.vscode
real_fail
bun/
myutil/
stderr.txt
stdout.txt
floppy.img
CHANGELOG
TODO.TXT
ISO.ISO
OLDMPC/

# test
source/vb4/res
source/vb4/refer